.text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text {
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: moveUp 1.5s ease-in-out forwards;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#search-box {
  transition: box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

#search-box.focused {
  box-shadow: 0px 4px 20px rgba(13, 148, 136, 0.8);
  border-radius: 10px;
}


.clipping-container {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}